streamlit==1.29.0
pandas>=1.5.0
joblib>=1.1.0
scikit-learn>=1.2.0  # Für neuere Funktionen in sklearn
geopy==2.2.0
pytz
protobuf==3.20.3  # Damit kompatibel mit deiner Version von Streamlit
setuptools>=65.5.0
protobuf>=3.20.3
xgboost
